.totals {
  h2 {
    margin: 0 0 12px;
    font-size: 22px;
  }
  .details {
    display: flex;
    white-space: nowrap;
    > div {
      &:nth-of-type(n+2) {
        margin-left: 30px;
      }
    }
  }
  .energy {
    color: #25b6e0;
  }
  .chart {
    height: 50px;
    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      right: 12px;
      bottom: 0;
      left: 50%;
      margin: auto 0 auto auto;
      max-width: calc(50% - 18px);
      height: 100px;
    }
  }
}