.solar-panels {
  display: flex;
  flex-wrap: wrap;
  .solar-panel {
    padding: 6px 12px;
    margin: 5px 7px;
    border-radius: 4px;
    background: #373f4c;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    width: 100%;
    .title {
      margin-bottom: 2px;
      color: #fff;
      font-size: 19px;
      font-weight: 600;
    }
    .details {
      > span {
        &:nth-of-type(n+2) {
          margin-left: 1.5em;
        }
      }
    }
    @media (min-width: 450px) {
      width: calc(50% - #{$pane-margin});
    }
    @media (min-width: 768px) {
      width: calc(100% / 3 - #{$pane-margin});
    }
    @media (min-width: 992px) {
      width: calc(25% - #{$pane-margin});
    }
    @media (min-width: 1200px) {
      width: calc(20% - #{$pane-margin});
    }
    @media (min-width: 1400px) {
      width: calc(100% / 6 - #{$pane-margin});
    }
  }
}