.configuration {
  position: relative;
  display: flex;
  justify-content: flex-end;
  button {
    display: flex;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    line-height: 1.8em;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    &:hover {
      color: rgba(255, 255, 255, 0.6);
      svg path {
        fill: rgba(255, 255, 255, 0.6);
      }
    }
    &:active {
      color: #fff;
      svg path {
        fill: #fff;
      }
    }
    svg {
      margin-right: 4px;
    }
  }
}