header {
  margin: 20px 5px 10px;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 32px;
    margin-bottom: 8px;
  }
  @media (min-width: 560px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 36px;
      margin-bottom: 0;
    }
  }
}

.overview {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 5px;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    max-width: calc(100% - #{$pane-margin});
    &.totals {
      position: relative;
    }
  }
  @media (min-width: 768px) {
    .weather {
      max-width: calc(50% - #{$pane-margin});
    }
  }
  @media (min-width: 992px) {
    .totals {
      max-width: calc(50% - #{$pane-margin});
    }
    .weather {
      max-width: calc(25% - #{$pane-margin});
    }
  }
  @media (min-width: 1200px) {
    .totals {
      max-width: calc(40% - #{$pane-margin});
    }
    .weather {
      max-width: calc(30% - #{$pane-margin});
    }
  }
  @media (min-width: 1400px) {
    .totals,
    .weather {
      max-width: calc(100% / 3 - #{$pane-margin});
    }
  }
}