@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 5px;
  background: #121212;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.2;
  font-size: 18px;
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  span {
    font-weight: 400;
  }
}

.pane {
  position: relative;
  margin: 5px;
  padding: 12px;
  border-radius: 4px;
  background: #373f4c;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  &.has-badge {
    padding-right: 24px;
  }
  .value {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  background: rgba(175, 175, 175, 0.3);
  &.green {
    color: lightgreen;
  }
  &.red {
    color: #ff9999;
  }
}